.container {
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(82,86,90);
}

.logo {
  height: 10rem;
}

.header {
  position: absolute;
}
.navigation {
  list-style-type: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translatey(-50%);
  transform-origin: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.linkwrapper {
  display: inline-block;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none !important;
  color: #CCCAC5;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.link:hover {
  color: #fff;
}

.arrowdown {
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  border: solid #CCCAC5;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowdown:hover {
  border-color: #fff;
}